CAMPAIGN_DATABASE_NAME=campaign
CAMPAIGN_DATABASE_PASS=postgres
CAMPAIGN_DATABASE_PORT=5432
CAMPAIGN_DATABASE_USER=postgres
CAMPAIGN_DATABASE_ADDRESS=postgresdb

BALANCE_DATABASE_NAME=balance
BALANCE_DATABASE_PASS=postgres
BALANCE_DATABASE_PORT=5432
BALANCE_DATABASE_USER=postgres
BALANCE_DATABASE_ADDRESS=postgresdb

CAMPAIGN_SERVICE_ADDRESS=http://campaign-service:8081
BALANCE_SERVICE_ADDRESS=http://balance-service:8082
CAMPAIGN_CONTROLLER_SERVICE_ADDRESS=http://campaign-controller-service:8083