.new-campaign {
  height: 100%;
}

.new-campaign__card.ui.card {
  margin: auto;
  width: 300px;
  top: 50%;
  transform: translate(0, -50%);
}

.new-campaign__input {
  margin: 12px 0px 24px 0px;
}

.react-datepicker-wrapper {
  width: 124px;
  overflow: hidden;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 3px;
  padding: 8px;
}

.react-datepicker-wrapper:first-child {
  margin-right: 24px;
}

.react-datepicker-wrapper > .react-datepicker__input-container > input {
  border: none;
  width: 100px;
}
